@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);/*  Color palette */
/* Text style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.small-container {
  width: 800px;
  margin: 0 auto;
}

header {
  background-color: white;
}
header .navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navigation-menu .logo {
  width: 70px;
}
header .navigation-menu .logo a img {
  width: 100%;
}
header .navigation-menu nav {
  height: 90px;
}
header .navigation-menu nav li {
  display: inline-block;
  line-height: 86px;
  margin: 0 8px;
}
header .navigation-menu nav li:hover, header .navigation-menu nav li.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}
header .navigation-menu nav li a {
  display: inline-block;
  color: #303030;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation-menu nav li a:hover, header .navigation-menu nav li a.active {
  color: #0282f9;
}
header .navigation-menu .input-box input {
  border: none;
  outline: none;
  border-bottom: 2px solid #0282f9;
}

footer .top-footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
}
footer .top-footer .top-footer-container {
  background-image: url("../img/dc-logo-bg.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: flex-start;
}
footer .top-footer .top-footer-container .all-links-container {
  display: flex;
}
footer .top-footer .top-footer-container .all-links-container .column {
  margin-right: 20px;
}
footer .top-footer .top-footer-container .all-links-container .column li {
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
footer .top-footer .top-footer-container .all-links-container .column li:first-child {
  text-transform: uppercase;
  margin: 15px 0 8px 0;
}
footer .top-footer .top-footer-container .all-links-container .column li a {
  text-decoration: none;
  color: #797979;
  font-size: 12px;
}
footer .top-footer .top-footer-container .all-links-container .column li a:hover {
  color: #0282f9;
}
footer .bottom-footer {
  background-color: #303030;
}
footer .bottom-footer .bottom-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}
footer .bottom-footer .bottom-footer-container .CTA {
  border: 2px solid #0282f9;
}
footer .bottom-footer .bottom-footer-container .CTA h4 {
  color: white;
  text-transform: uppercase;
  padding: 8px 12px;
}
footer .bottom-footer .bottom-footer-container .CTA:hover {
  background-color: #0282f9;
  border: 2px solid white;
  cursor: pointer;
}
footer .bottom-footer .bottom-footer-container .social-icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .bottom-footer .bottom-footer-container .social-icons h3 {
  color: #0282f9;
  text-transform: uppercase;
}
footer .bottom-footer .bottom-footer-container .social-icons img {
  width: 30px;
}
footer .bottom-footer .bottom-footer-container .social-icons img:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.comics_page {
  background-color: #1c1c1c;
}
.comics_page .jumbotron {
  height: 320px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}
.comics_page .container {
  display: flex;
  padding: 20px 0;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
}
.comics_page .container .label {
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 18px;
  font-weight: 700;
  background-color: #0282f9;
  text-transform: uppercase;
  padding: 6px 25px;
  color: white;
}
.comics_page .container .card {
  width: calc(100% / 6 - 20px);
  margin: 0 10px;
  margin-top: 50px;
  text-align: left;
}
.comics_page .container .card .img-box {
  height: 150px;
  overflow: hidden;
}
.comics_page .container .card .img-box img {
  width: 100%;
}
.comics_page .container .card .book-name {
  padding-top: 20px;
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
.comics_page .container .button {
  margin: 50px 0 25px 0;
  padding: 5px 50px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-color: #0282f9;
  color: white;
}
.comics_page .container .button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
.comics_page .highlighted-content {
  padding: 50px 0;
  background-color: #0282f9;
}
.comics_page .highlighted-content ul {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.comics_page .highlighted-content ul li {
  display: flex;
  align-items: center;
}
.comics_page .highlighted-content ul li .img-box {
  height: 50px;
  margin-right: 8px;
}
.comics_page .highlighted-content ul li .img-box img {
  height: 50px;
}
.comics_page .highlighted-content ul li span {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.comics_page .highlighted-content ul li span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.jumbo_home {
  background-image: url("../img/hero_home.jpg");
  background-size: cover;
  height: 500px;
}

.jumbo_example {
  background-image: url("../img/example-jumbo.jpg");
  background-size: cover;
  height: 430px;
}

.jumbo_character {
  background-image: url("../img/hero_character.jpg");
  background-size: cover;
  height: 500px;
}

.jumbo_movie {
  background-image: url("../img/Movies-jumbo.jpg");
  background-size: cover;
  height: 500px;
}

.jumbo_tv {
  background-image: url("../img/TVPage_jumbo.jpg");
  background-size: cover;
  height: 500px;
}

.jumbotron {
  height: 320px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.spacer {
  height: 70px;
  background-color: #0282f9;
}

.small-container {
  position: relative;
}
.small-container .detail_img_box {
  width: 160px;
  position: absolute;
  top: -260px;
}
.small-container .detail_img_box img {
  width: 100%;
}
.small-container .detail_info_box {
  display: flex;
  padding: 50px 0;
}
.small-container .detail_info_box .detail_info {
  width: calc(100% - 220px);
  padding-right: 30px;
}
.small-container .detail_info_box .detail_info h3 {
  text-transform: uppercase;
  color: #183f5e;
  font-size: 25px;
}
.small-container .detail_info_box .detail_info .price-box {
  width: 100%;
  display: flex;
  background-color: #55ba59;
  color: #b0f88f;
  font-size: 16px;
  margin: 15px 0 10px 0;
}
.small-container .detail_info_box .detail_info .price-box .price_book-available {
  width: calc(100% - 150px);
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid darkgreen;
}
.small-container .detail_info_box .detail_info .price-box .price_book-available .price {
  color: white;
}
.small-container .detail_info_box .detail_info .price-box .price_book-available .available {
  text-transform: uppercase;
}
.small-container .detail_info_box .detail_info .price-box .check-availability {
  width: 150px;
  text-align: center;
  padding: 8px;
  border: 1px solid darkgreen;
}
.small-container .detail_info_box .detail_info p {
  font-size: 15px;
  line-height: 24px;
}
.small-container .detail_info_box .adv {
  width: 220px;
  text-align: right;
}
.small-container .detail_info_box .adv .adv-title {
  text-transform: uppercase;
}
.small-container .detail_info_box .adv img {
  padding-top: 10px;
  width: 100%;
}